.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.primary_container{
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    border-radius: 10px;   
}

.primary_container h1{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    background-color: transparent;

}

.primary_container_header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    background-color: transparent;
}

.primary_container_header_left{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

}

.jobtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 200px;
    height: 100%;
    padding-top: 20px;
}

.primary_container_header_left_status{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: transparent;

}

.completed{
    background-color: #66d86692 ;
}

.failed{
    background-color: #bc4d4d92;
}

.cancelled{
    background-color: #ffcc0092;
}


.completedlabel{
    background-color: #66d86692 ;
    border: 2px solid #66d866;
}

.failedlabel{
    background-color: #bc4d4d92;
    border: 2px solid #bc4d4d;
}

.cancelledlabel{
    background-color: #ffcc0092;
    border: 2px solid #ffcc00;
}
.status-icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-color: transparent;
}

.status{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.primary_container_body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.primary_container_body_left_header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.primary_container_body_left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.userdetails{
    width:auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}